h1{
    color: rgb(5, 137, 20);
    font-family: sans-serif;
}



body{
    background-color: white;
}


ul{
    list-style-image: url('images/pointer-icon.png');
}
ol{
    list-style-type: upper-roman;
}

#menu-bar a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px;
}
#menu-bar a:hover{
    background-color: aqua;
    color: white;
}

